CREATE TABLE [dbo].[AwardingOrganisation](
	[Id] [uniqueidentifier] NOT NULL,
	[Ukprn] [int] NULL,
	[RecognitionNumber] [nvarchar](250) NULL,
	[NameLegal] [nvarchar](250) NULL,
	[NameOfqual] [nvarchar](250) NULL,
	[NameGovUk] [nvarchar](250) NULL,
	[Name_Dsi] [nvarchar](250) NULL,
	[Acronym] [nvarchar](100) NULL,
	CONSTRAINT PK_AwardingOrganisation PRIMARY KEY CLUSTERED (ID ASC)
) ON [PRIMARY]
GO
