CREATE TABLE [dbo].[Qualification](
	[Id] [uniqueidentifier] NOT NULL,
	[Qan] [nvarchar](10) NOT NULL,
	[QualificationName] [nvarchar](250) NULL,
	CONSTRAINT PK_Qualification PRIMARY KEY CLUSTERED (ID ASC)
) ON [PRIMARY]
GO

CREATE INDEX [IX_Qualification_Qan] ON [dbo].[Qualification] ([Qan])
GO

CREATE INDEX [IX_Qualification_QualificationName] ON [dbo].[Qualification]([QualificationName])
GO