CREATE TABLE [regulated].[VersionFieldChanges](
	[Id] [uniqueidentifier] NOT NULL,
	[QualificationVersionNumber] [int] NULL,
	[ChangedFieldNames] [nvarchar](250) NULL,
	CONSTRAINT PK_VersionFieldChanges PRIMARY KEY CLUSTERED (Id ASC)
) ON [PRIMARY]
GO